openai==1.23.2
ipython-ngql==0.11.3
llama_index==0.8.9
pyvis==0.3.2
tornado>=6.0.3,<6.2
packaging>=23.2,<24.0
sqlalchemy>=2.0.15
dataclasses-json==0.6.4
distro==1.9.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
jsonpatch==1.33
jsonpickle==3.0.4
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.46
langchain-text-splitters==0.0.1
langsmith==0.1.49
marshmallow==3.21.1
mypy-extensions==1.0.0
nebula3-python==3.5.0
orjson==3.10.1
tenacity==8.2.3
tiktoken==0.6.0
typing-inspect==0.9.0
unstructured==0.11.8
